.WA{

      margin-left: 0;
      margin-right: 0;
      
      
     
     
}
.h{
 gap: 4%;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 
 



}
.logo-react{
        width: 38px;
        padding-bottom: 9.5px;
        display: block;
        text-align:end;
        justify-content: center;
        text-decoration: none;
        align-content: center;
       
}

.na{
        text-align: center;
}
.logo-react1{
        
        margin-left: 10px;
        width: 50px;
        display: block;
        text-align:end;
        justify-content: center;
        text-decoration: none;
        align-content: center;
        color: rgb(0, 255, 55);
        
       
}
.likaran{
        width: 70px;
        display: block;
       text-align: center;
      background-color: rgb(81, 0, 255);
      border-radius: 100%;
      color: aliceblue;
      margin-bottom: 28px;
      
       
}
.kode{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 65px;
        background-color: blue;
        border-radius: 100%;
        margin-bottom: 13px;
        color: aliceblue;
      
}

.likaran a{
        text-decoration: none;
        color: aliceblue;
}
.h a{
        text-decoration: none;
        color: black;

}